//color
$primaryColor: #800404;
$darkColor: #2f2f2f;
$yellowColor: #ffab39;
$blueColor: #3950ff;
$redColor: #ff0b0b;
$greenColor: #1ec07a;
$whiteColor: #ffffff;
$grayLightColor: #dedede;
$grayDarkColor: #acacac;

//size
// `sm` applies to x-small devices (portrait phones, less than 576px)
$maxSm: 575.98px;
$maxMd: 767.98px;
$maxLg: 991.98px;
$maxXl: 1199.98px;
$maxXxl: 1399.98px;
